<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.lolsupport.mapper.MatchMapper">
	
	<!-- select 부분 -->
	
	<select id="getMatchList" resultType="com.sl.lolsupport.search.dto.MatchDto">
		SELECT * FROM matchdto where gameId = #{gameId}
	</select>
	
	<select id="getParticipantIdentityDtoList" resultType="com.sl.lolsupport.search.dto.ParticipantIdentityDto">
		SELECT * FROM participantidentitydto where gameId = #{gameId}
	</select>
	
	<select id="getPlayerDtoList" resultType="com.sl.lolsupport.search.dto.PlayerDto">
		SELECT * FROM playerdto where gameId = #{gameId}
	</select>
	
	<select id="getTeamStatsDtoList" resultType="com.sl.lolsupport.search.dto.TeamStatsDto">
		SELECT * FROM teamstatsdto where gameId = #{gameId}
	</select>
	
	<select id="getTeamBansDtoList" resultType="com.sl.lolsupport.search.dto.TeamBansDto">
		SELECT * FROM teambansdto where gameId = #{gameId}
	</select>
	
	<select id="getParticipantDtoList" resultType="com.sl.lolsupport.search.dto.ParticipantDto">
		SELECT * FROM participantdto where gameId = #{gameId}
	</select>
	
	<select id="getRuneDtoList" resultType="com.sl.lolsupport.search.dto.RuneDto">
		SELECT * FROM runedto where gameId = #{gameId}
	</select>
	
	<select id="getParticipantStatsDtoList" resultType="com.sl.lolsupport.search.dto.ParticipantStatsDto">
		SELECT * FROM participantstatsdto
	</select>
	
	<select id="getParticipantTimelineDtoList" resultType="com.sl.lolsupport.search.dto.ParticipantTimelineDto">
		SELECT * FROM participanttimelinedto
	</select>
	
	<select id="getMasteryDtoList" resultType="com.sl.lolsupport.search.dto.MasteryDto">
		SELECT * FROM masterydto
	</select>
	
	<!-- insert부분 -->
	
	<insert id="insertMatchList">
		INSERT INTO matchdto
		(
			gameId,
			queueId,
			gameType,
			gameDuration,
			platformId,
			gameCreation,
			seasonId,
			gameVersion,
			mapId,
			gameMode
		)
		values
		(
			#{gameId},
			#{queueId},
			#{gameType},
			#{gameDuration},
			#{platformId},
			#{gameCreation},
			#{seasonId},
			#{gameVersion},
			#{mapId},
			#{gameMode}
		)
	</insert>
	
	<insert id="insertParticipantIdentityDtoList">
		INSERT INTO participantidentitydto
		(
			gameId,
			participantId
		)
		values
		(
			#{gameId},
			#{participantId}
		)
	</insert>
	
	<insert id="insertPlayerDto">
		INSERT INTO playerdto
		(
			gameId,
			participantId,
			profileIcon,
			accountId,
			matchHistoryUri,
			currentAccountId,
			currentPlatformId,
			summonerName,
			summonerId,
			platformId
		)
		values
		(
			#{gameId},
			#{participantId},
			#{profileIcon},
			#{accountId},
			#{matchHistoryUri},
			#{currentAccountId},
			#{currentPlatformId},
			#{summonerName},
			#{summonerId},
			#{platformId}
		)
	</insert>
	
	<insert id="insertTeamStatsDto">
		INSERT INTO teamstatsdto
		(
			gameId,
			towerKills,
			riftHeraldKills,
			firstBlood,
			inhibitorKills,
			firstBaron,
			firstDragon,
			dominionVictoryScore,
			dragonKills,
			firstInhibitor,
			firstTower,
			vilemawKills,
			firstRiftHerald,
			teamId,
			win
		)
		values
		(
			#{gameId},
			#{towerKills},
			#{riftHeraldKills},
			#{firstBlood},
			#{inhibitorKills},
			#{firstBaron},
			#{firstDragon},
			#{dominionVictoryScore},
			#{dragonKills},
			#{firstInhibitor},
			#{firstTower},
			#{vilemawKills},
			#{firstRiftHerald},
			#{teamId},
			#{win}
		)
	</insert>
	
	<insert id="insertTeamBansDto">
		INSERT INTO teambansdto
		(
			gameId,
			teamId,
			championId,
			pickTurn
		)
		values
		(
			#{gameId},
			#{teamId},
			#{championId},
			#{pickTurn}
		)
	</insert>
	
	<insert id="insertParticipantDto">
		INSERT INTO participantdto
		(
			gameId,
			participantId,
			championId,
			teamId,
			spell1Id,
			spell2Id,
			highestAchievedSeasonTier
		)
		values
		(
			#{gameId},
			#{participantId},
			#{championId},
			#{teamId},
			#{spell1Id},
			#{spell2Id},
			#{highestAchievedSeasonTier}
		)
	</insert>
	
	<insert id="insertRuneDto">
		INSERT INTO runedto
		(
			gameId,
			participantId,
			runeId,
			rank
		)
		values
		(
			#{gameId},
			#{participantId},
			#{runeId},
			#{rank}
		)
	</insert>
	
	<insert id="insertParticipantStatsDto">
		INSERT INTO participantstatsdto	
		(
			gameId,
	 		item0,
	 		item1,
	 		totalUnitsHealed,
	 		item2,
	 		largestMultiKill,
	 		goldEarned,
	 		firstInhibitorKill,
	 		physicalDamageTaken,
	 		nodeNeutralizeAssist,
	 		totalPlayerScore,
	 		champLevel,
	 		damageDealtToObjectives,
	 		totalDamageTaken,
	 		neutralMinionsKilled,
	 		deaths,
	 		tripleKills,
	 		magicDamageDealtToChampions,
	 		wardsKilled,
	 		pentaKills,
	 		damageSelfMtigated,
	 		largestCriticalStrike,
	 		nodeNeutralize,
	 		totalTimeCrowdControlDealt,	
	 		firstTowerKill,
	 		magicDamageDealt,
	 		totalScoreRank,
	 		nodeCapture,
	 		wardsPlaced,
	 		totalDamageDealt,
	 		timeCCingOthers,
	 		magicalDamageTaken,
	 		largestKillingSpree,
	 		totalDamageDealtToChampions,
	 		physicalDamageDealtToChampions,
	 		neutralMinionsKilledTeamJungle,
	 		totalMinionsKilled,
	 		firstInhibitorAssist,
	 		visionWardsBoughtInGame,
	 		objectivePlayerScore,
	 		kills,
	 		firstTowerAssist,
	 		combatPlayerScore,
	 		inhibitorKills,
	 		turretKills,
	 		participantId,
	 		trueDamageTaken,
	 		firstBloodAssist,
	 		nodeCaptureAssist,
	 		assists,
	 		teamObjective,
	 		altarsNeutralized,
	 		goldSpent,
	 		damageDealtToTurrets,
	 		altarsCaptured,
	 		win,
	 		totalHeal,
	 		unrealKills,
	 		visionScore,
	 		physicalDamageDealt,
	 		firstBloodKill,
	 		longestTimeSpentLiving,
	 		killingSprees,
	 		sightWardsBoughtInGame,
	 		trueDamageDealtToChampions,
	 		neutralMinionsKilledEnemyJungle,	
	 		doubleKills,
	 		trueDamageDealt,
	 		quadraKills,
	 		item4,
	 		item3,
	 		item6,
	 		item5,
	 		playerScore0,
	 		playerScore1,
	 		playerScore2,
	 		playerScore3,
	 		playerScore4,
	 		playerScore5,
	 		playerScore6,
	 		playerScore7,
	 		playerScore8,
	 		playerScore9,
	 		perk0,
	 		perk0Var1,
	 		perk0Var2,
	 		perk0Var3,
	 		perk1,
	 		perk1Var1,
	 		perk1Var2,
	 		perk1Var3,
	 		perk2,
	 		perk2Var1,
	 		perk2Var2,
	 		perk2Var3,
	 		perk3,
	 		perk3Var1,
	 		perk3Var2,
	 		perk3Var3,
	 		perk4,
	 		perk4Var1,
	 		perk4Var2,
	 		perk4Var3,
	 		perk5,
	 		perk5Var1,
	 		perk5Var2,
	 		perk5Var3,
	 		perkPrimaryStyle,
	 		perkSubStyle,
	 		statPerk0,
	 		statPerk1,
	 		statPerk2
		)
		values
		(
			#{gameId},
			#{item0},
	 		#{item1},
	 		#{totalUnitsHealed},
	 		#{item2},
	 		#{largestMultiKill},
	 		#{goldEarned},
	 		#{firstInhibitorKill},
	 		#{physicalDamageTaken},
	 		#{nodeNeutralizeAssist},
	 		#{totalPlayerScore},
	 		#{champLevel},
	 		#{damageDealtToObjectives},
	 		#{totalDamageTaken},
	 		#{neutralMinionsKilled},
	 		#{deaths},
	 		#{tripleKills},
	 		#{magicDamageDealtToChampions},
	 		#{wardsKilled},
	 		#{pentaKills},
	 		#{damageSelfMtigated},
	 		#{largestCriticalStrike},
	 		#{nodeNeutralize},
	 		#{totalTimeCrowdControlDealt},	
	 		#{firstTowerKill},
	 		#{magicDamageDealt},
	 		#{totalScoreRank},
	 		#{nodeCapture},
	 		#{wardsPlaced},
	 		#{totalDamageDealt},
	 		#{timeCCingOthers},
	 		#{magicalDamageTaken},
	 		#{largestKillingSpree},
	 		#{totalDamageDealtToChampions},
	 		#{physicalDamageDealtToChampions},
	 		#{neutralMinionsKilledTeamJungle},
	 		#{totalMinionsKilled},
	 		#{firstInhibitorAssist},
	 		#{visionWardsBoughtInGame},
	 		#{objectivePlayerScore},
	 		#{kills},
	 		#{firstTowerAssist},
	 		#{combatPlayerScore},
	 		#{inhibitorKills},
	 		#{turretKills},
	 		#{participantId},
	 		#{trueDamageTaken},
	 		#{firstBloodAssist},
	 		#{nodeCaptureAssist},
	 		#{assists},
	 		#{teamObjective},
	 		#{altarsNeutralized},
	 		#{goldSpent},
	 		#{damageDealtToTurrets},
	 		#{altarsCaptured},
	 		#{win},
	 		#{totalHeal},
	 		#{unrealKills},
	 		#{visionScore},
	 		#{physicalDamageDealt},
	 		#{firstBloodKill},
	 		#{longestTimeSpentLiving},
	 		#{killingSprees},
	 		#{sightWardsBoughtInGame},
	 		#{trueDamageDealtToChampions},
	 		#{neutralMinionsKilledEnemyJungle},	
	 		#{doubleKills},
	 		#{trueDamageDealt},
	 		#{quadraKills},
	 		#{item4},
	 		#{item3},
	 		#{item6},
	 		#{item5},
	 		#{playerScore0},
	 		#{playerScore1},
	 		#{playerScore2},
	 		#{playerScore3},
	 		#{playerScore4},
	 		#{playerScore5},
	 		#{playerScore6},
	 		#{playerScore7},
	 		#{playerScore8},
	 		#{playerScore9},
	 		#{perk0},
	 		#{perk0Var1},
	 		#{perk0Var2},
	 		#{perk0Var3},
	 		#{perk1},
	 		#{perk1Var1},
	 		#{perk1Var2},
	 		#{perk1Var3},
	 		#{perk2},
	 		#{perk2Var1},
	 		#{perk2Var2},
	 		#{perk2Var3},
	 		#{perk3},
	 		#{perk3Var1},
	 		#{perk3Var2},
	 		#{perk3Var3},
	 		#{perk4},
	 		#{perk4Var1},
	 		#{perk4Var2},
	 		#{perk4Var3},
	 		#{perk5},
	 		#{perk5Var1},
	 		#{perk5Var2},
	 		#{perk5Var3},
	 		#{perkPrimaryStyle},
	 		#{perkSubStyle},
	 		#{statPerk0},
	 		#{statPerk1},
	 		#{statPerk2}
		)
	</insert>
	
	<insert id="insertParticipantTimelineDto" parameterType="hashMap">
		INSERT INTO participanttimelinedto
		(
			gameId,
			participantId,
			csDiffPerMinDeltas
			damageTakenPerMinDeltas,
			role,
			damageTakenDiffPerMinDeltas,
			xpPerMinDeltas,
			xpDiffPerMinDeltas,
			lane,
			creepsPerMinDeltas,
			goldPerMinDeltas
		)
		values
		(
			#{gameId},
			#{participantId},
			#{csDiffPerMinDeltas}
			#{damageTakenPerMinDeltas},
			#{role},
			#{damageTakenDiffPerMinDeltas},
			#{xpPerMinDeltas},
			#{xpDiffPerMinDeltas},
			#{lane},
			#{creepsPerMinDeltas},
			#{goldPerMinDeltas}
		)
	</insert>
	
	<insert id="insertMasteryDto">
		INSERT INTO masterydto
		(
			gameId,
			participantId,
			rank,
			masteryId
		)
		values
		(
			#{gameId},
			#{participantId},
			#{rank},
			#{masteryId}
		)
	</insert>
	
	
	
	
</mapper>